<div class="header">
  <div class="container-menu">
    <div class="logo">
      <img src="../../assets/img/idealista.svg" alt="logo-idealista" />
    </div>
    <div class="enlaces">
      <a class="anuncio-gratis"> Pon tu anuncio gratis</a>
      <a class="enlace"> Tus Búsquedas</a>
      <a class="enlace"> Chat </a>
      <a class="enlace"> Iniciar Sesión</a>
    </div>
  </div>
  <div class="container-imagen">
    <div class="imagen">
      <img src="../../assets/img/casaInicio.jpg" alt="imagen-inicio" />
    </div>
    <section class="new-search-box">
      <h1 class="new-search-box-title">Estás en casa y me gusta</h1>
      <div class="new-search-box-subtitle">
        <form id="free-search-form" class="free-search-form" name="frmAnuDir" method="POST" action="/buscar/">
          <div id="form-new-radio-button-wrapper" class="form-new-radio-button-wrapper">
            <fieldset class="new-radio-button">
              <input name="operation" id="free-search-operation-sale" type="radio" value="sale" autocomplete="off" />
              <label for="free-search-operation-sale" title="Comprar">
                Comprar
              </label>
              <input name="operation" id="free-search-operation-rent" type="radio" value="rent" autocomplete="off" />
              <label for="free-search-operation-rent" title="Alquilar">
                Alquilar
              </label>
              <input name="operation" id="free-search-operation-share" type="radio" value="share" autocomplete="off" />
              <label for="free-search-operation-share" title="Compartir">
                Compartir
              </label>
            </fieldset>
          </div>
          <div id="form-typology-wrapper" class="form-typology-wrapper">
            <select id="typology" name="typology" class="dropdown-list">
              <option value class="home-select-default-toggle">
                Tipo de inmueble
              </option>
              <option value="newdevelopment">Obra nueva</option>
              <option value="home">Viviendas</option>
              <option value="room">Habitación</option>
              <option value="garage">Garajes</option>
              <option value="storageroom">Trasteros</option>
              <option value="office">Oficinas</option>
              <option value="warehouse">Locales o naves</option>
              <option value="transfer">Traspasos</option>
              <option value="land">Terrenos</option>
              <option value="building">Edificios</option>
              <option class="d-none" value="vacational">Vacacional</option>
            </select>
          </div>
          <div class="form-item-block" layermobileonblurexclusion="on">
            <label for="campoBus" class="screen-reader-only"></label>
            <input id="campoBus" mobileonblur="on" autocomplete="off" type="text" data-validation="pattern required"
              data-pattern=".{2,}" data-do-not-markup-xiti-validation="false" placeholder="Escribe dónde buscas"
              name="freeText" data-message-required="Escribe una ubicación donde buscar"
              data-message-pattern="Escribe una ubicación donde buscar" />
            <div class="container-result-list">
              <div class="result-list search-near"></div>
            </div>
          </div>
          <button id="btn-free-search" class="btn action">Buscar</button>
        </form>
      </div>
    </section>
  </div>
</div>
