@charset "UTF-8";
.header .container-menu {
  width: 70%;
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Distribuye espacio entre logo y enlaces */
  padding: 0 20px;
  height: 60px;
}

.header .container-menu .logo {
  display: flex;
  /* Asegura alineación interna si es necesario */
  align-items: center;
}

.header .container-menu .logo img {
  height: 50px;
}

.header .container-menu .enlaces {
  cursor: pointer;
  display: flex;
  /* Asegura que los enlaces estén en línea */
  align-items: center;
  gap: 20px;
  /* Espaciado uniforme entre enlaces */
}

.header .container-menu .enlaces .enlace {
  padding: 1%;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.header .container-menu .enlaces .enlace:hover {
  background-color: #cfe500;
}

.header .container-imagen {
  width: 100%;
  position: relative;
}

.header .container-imagen .imagen img {
  margin-left: 10%;
  width: 80%;
  height: auto;
  display: flex;
  z-index: -1;
}

.header .container-imagen .new-search-box {
  z-index: 1;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(225, 245, 110, 0.96);
  padding: 3%;
  border-radius: 3px;
  text-align: center;
}

.header .container-imagen .new-search-box .new-search-box-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.header .container-imagen .new-search-box .new-search-box-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form .form-new-radio-button-wrapper .new-radio-button {
  display: flex;
  border: none;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form .form-new-radio-button-wrapper label {
  padding: 10px 10px;
  border: 1px solid #CBCCC7;
  background: white;
  color: #4D4D4C;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.3s, color 0.3s;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form .form-new-radio-button-wrapper label:hover, .header .container-imagen .new-search-box .new-search-box-subtitle form .form-new-radio-button-wrapper label.active {
  background: #fff;
  color: #e50068;
  border-color: #e50068;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form .form-new-radio-button-wrapper label:checked {
  background: #fff;
  color: #e50068;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form .form-new-radio-button-wrapper input {
  display: none;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form .form-typology-wrapper select {
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #CBCCC7;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form .form-item-block input {
  padding: 12px;
  width: 70%;
  max-width: 300px;
  font-size: 16px;
  border: 1px solid #CBCCC7;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form .btn {
  padding: 12px 30px;
  background: #e50068;
  color: #fff;
  border: none;
  border-radius: .125rem;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.header .container-imagen .new-search-box .new-search-box-subtitle form .btn:hover {
  background: #b20051;
}
