// Variables
$primary-color: #cfe500;
$secondary-color: #ff007a;
$text-color: #333;
$background-color: #f8f8f8;
$btn-background: #e50068;
$btn-text-color: #fff;

.header {

  .container-menu {
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribuye espacio entre logo y enlaces */
    padding: 0 20px;
    height: 60px;

    .logo {
      display: flex;
      /* Asegura alineación interna si es necesario */
      align-items: center;

      img {
        height: 50px;
      }
    }

    .enlaces {
      cursor: pointer;
      display: flex;
      /* Asegura que los enlaces estén en línea */
      align-items: center;
      gap: 20px;
      /* Espaciado uniforme entre enlaces */

      .enlace {

        padding: 1%;
        color: $text-color;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.3s;

        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }



  .container-imagen {
    width: 100%;
    position: relative;

    .imagen img {
      margin-left: 10%;
      width: 80%;
      height: auto;
      display: flex;
      z-index: -1;
    }

    .new-search-box {
      z-index: 1;
      width:60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(225, 245, 110, 0.96);
      padding:3%;
      border-radius: 3px;
      text-align: center;

      .new-search-box-title {
        font-size: 1.2rem;
        color: $text-color;
        margin-bottom: 20px;
      }

      .new-search-box-subtitle {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        form {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .form-new-radio-button-wrapper {

            .new-radio-button{
              display: flex;
              border: none;
            }

            label {
              padding: 10px 10px;
              border: 1px solid #CBCCC7;
              background: white;
              color:#4D4D4C;
              cursor: pointer;
              font-size: 1.2rem;
              transition: background 0.3s, color 0.3s;

              &:hover,
              &.active {
                background: $btn-text-color;
                color: $btn-background;
                border-color: $btn-background;
              }

              &:checked {
                background: $btn-text-color;
                color: $btn-background;
              }
            }

            input {
              display: none;
            }
          }

          .form-typology-wrapper {

            select {
              padding: 12px 10px;
              font-size: 16px;
              border: 1px solid #CBCCC7;
            }
          }

          .form-item-block {

            input {
              padding: 12px;
              width: 70%;
              max-width: 300px;
              font-size: 16px;
              border: 1px solid #CBCCC7;
            }
          }

          .btn {
            padding: 12px 30px;
            background: $btn-background;
            color: $btn-text-color;
            border: none;
            border-radius: .125rem;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
              background: darken($btn-background, 10%);
            }
          }
        }
      }


    }


  }
}
