.navegacion {
  margin: 20px 5%;
  font: bold 1rem / 1.5rem 'bernino-regular', Verdana, Arial, Geneva, sans-serif !important;

  a {
    text-decoration: none;
    color: #145BC7;
  }
}

.propiedad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f2;
  padding: 20px;

  .detalle-inmueble {
    display: flex;
    max-width: 1100px;
    padding: 20px;
    gap: 20px;
  }

  .inmueble-container {
    width: 65%;
    background-color: white;

    .imagen-container {
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .info-container {
      margin-top: 15px;
      padding: 15px;

      h1 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .ubicacion {
        font-size: 1rem;
        color: #000000;
        margin-bottom: 10px;

        a {
          color: #145BC7;
          font-weight: bold;
          text-decoration: none;
          margin-left: 5px;
        }
      }

      .precio {
        font-size: 1.8rem;
        font-weight: bold;
        color: #145BC7;
        margin-bottom: 10px;
      }

      .detalles {
        font-size: 1.2rem;
        color: #000000;
        margin-bottom: 15px;
      }

      .acciones {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        .btn-guardar {
          flex: 1;
          padding: 12px;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          font-size: 1rem;
          transition: all 0.3s ease-in-out;
          background: #f0f0f0;
          color: #333;

          &:hover {
            background: #e0e0e0;
          }
        }

        .btn-descartar {
          flex: 1;
          padding: 12px;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          font-size: 1rem;
          transition: all 0.3s ease-in-out;
          background: #ffdddd;
          color: #d40000;

          &:hover {
            background: #ffbbbb;
          }
        }

          .btn-compartir {
            flex: 1;
            padding: 12px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            font-size: 1rem;
            transition: all 0.3s ease-in-out;
            background: #d4e7ff;
            color: #145BC7;

            &:hover {
              background: #a9d2ff;
            }
          }
        }



      .descripcion {
        margin-top: 15px;
        font-size: 1rem;
        color: #000000;
        line-height: 1.4;
      }
    }
  }

  .contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background: #f8f8f8;
    padding: 20px;
    background-color: #f4f5f2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    textarea {
      width: 90%;
      height: 80px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }

    .btn-contactar {
      width: 100%;
      padding: 17px;
      margin-top: 10px;
      background: #d4007f;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background: #b0006a;
      }
    }

    .telefono {
      margin-top: 10px;
      font: bold 1rem / 1.5rem 'bernino-regular', Verdana, Arial, Geneva, sans-serif !important;
      color: #145BC7;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
