<app-header-yellow></app-header-yellow>
<div class="perfil-container">
    <h1>Tu cuenta</h1>
    <div class="tabs">
      <span class="active">Perfil</span>
      <span>Acceso y seguridad</span>
    </div>

    <div class="notification-box">
      <p>⚙️ <a href="#">Gestionar las notificaciones y el idioma</a></p>
    </div>

    <div class="security-box">
      <p>🔒 Protege tu cuenta activando la verificación SMS al iniciar sesión.</p>
      <a href="#">Activar ahora</a>
    </div>

    <div class="perfil-card">
      <h2>Nombre y foto</h2>
      <p>Estos datos solo se mostrarán cuando contactes con anunciantes o publiques un anuncio en nuestra plataforma.</p>

      <div class="foto-perfil">
        <img [src]=" 'assets/img/default-user.png'" alt="Foto de perfil" />
        <a href="#">+ Añadir foto</a>
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" />
      </div>

      <div class="form-group">
        <p class="datos-acceso">
          <a href="#">Modificar contraseña y correo electrónico</a>
        </p>
      </div>

      <button class="guardar-btn" >Guardar cambios</button>
    </div>
  </div>
  <app-footer></app-footer>
