<app-header-yellow></app-header-yellow>

<a class="navegacion" routerLink="/inicio">idealista</a>


<div class="titulo">
  <h2>1 piso en Bilbao</h2>
</div>

<div class="listado-container">
  <!-- Sidebar de filtros -->
  <aside class="sidebar">
    <h3>Tipo de inmueble</h3>
    <select [(ngModel)]="tipo_propiedad" (ngModelChange)="actualizarFiltros()">
      <option value="casas">Casas</option>
      <option value="pisos">Pisos</option>
      <option value="oficinas">Oficinas</option>
      <option value="locales">Locales</option>
    </select>

    <h3>Precio</h3>
    <!-- Filtro de precio -->
    <div class="filtro-precio">

      <input type="number" [(ngModel)]="precioMin" (ngModelChange)="actualizarFiltros()" placeholder="Mín">
      <input type="number" [(ngModel)]="precioMax" (ngModelChange)="actualizarFiltros()" placeholder="Máx">
    </div>

    <h3>Tamaño</h3>
    <!-- Filtro de tamaño -->
    <div class="filtro-tamaño">
      <input type="number" [(ngModel)]="tamanoMin" (ngModelChange)="actualizarFiltros()" placeholder="Mín">
      <input type="number" [(ngModel)]="tamanoMax" (ngModelChange)="actualizarFiltros()" placeholder="Máx">
    </div>

    <!-- Filtro de habitaciones -->
    <div class="filtro-habitaciones" *ngIf="tipo_propiedad === 'casas' || tipo_propiedad === 'pisos'">
      <h3>Habitaciones</h3>
      <label *ngFor="let opcion of [1, 2, 3, 4, 5]">
        <input
          type="checkbox"
          [checked]="habitaciones !== null && opcion >= habitaciones"
          (change)="actualizarHabitaciones(opcion)"
        /> {{ opcion === 5 ? '4 o más' : opcion }}
      </label>
    </div>


    <div class="filtro-banos" *ngIf="tipo_propiedad === 'casas' || tipo_propiedad === 'pisos'">
      <h3>Baños</h3>
      <label *ngFor="let opcion of [1, 2, 3, 4]">
        <input
          type="checkbox"
          [checked]="banos !== null && opcion >= banos"
          (change)="actualizarBanos(opcion)"
        /> {{ opcion === 4 ? '4 o mas' : opcion }}
      </label>
    </div>

    <!-- Filtro de extras (jardín, piscina) -->
    <div class="filtro-extra" *ngIf="tipo_propiedad === 'casas'">
      <h3>Extras</h3>
      <label><input type="checkbox" [(ngModel)]="extras.jardin" (ngModelChange)="actualizarFiltros()" /> Jardín</label>
      <label><input type="checkbox" [(ngModel)]="extras.piscina" (ngModelChange)="actualizarFiltros()" /> Piscina</label>
    </div>

    <div class="filtro-piso" *ngIf="tipo_propiedad === 'pisos'">
      <h3>Planta</h3>
      <select>
        <option value="">Cualquiera</option>
        <option *ngFor="let planta of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">{{planta}}</option>
      </select>
    </div>

    <div class="filtro-oficinas" *ngIf="tipo_propiedad === 'oficinas'">
      <h3>Oficinas</h3>
      <label><input type="checkbox" /> Zona comercial</label>
      <label><input type="checkbox" /> Sala de reuniones</label>
      <label><input type="checkbox" /> Recepción</label>
    </div>

    <div class="filtro-locales" *ngIf="tipo_propiedad === 'locales'">
      <h3>Tipo de negocio</h3>
      <label><input type="checkbox" /> Tienda</label>
      <label><input type="checkbox" /> Restaurante</label>
    </div>

    <button id="btn-buscar" class="btn" (click)="buscarPropiedades()">Buscar</button>

  </aside>

  <!-- Contenedor de las propiedades -->
  <section class="propiedades">

    <div class="ordenar">
      <label>Ordenar:</label>
      <select>
        <option>Relevancia</option>
        <option>Más baratos</option>
        <option>Más recientes</option>
      </select>
    </div>

    <div class="lista-propiedades">
      <app-card-inmueble (click)="navigateToPropiedad(inmueble.id_propiedad)" *ngFor="let inmueble of propiedades" [datos]="inmueble"></app-card-inmueble>
    </div>
  </section>
</div>



<app-footer></app-footer>
