@charset "UTF-8";
.navegacion {
  margin-top: 4%;
  margin-left: 5%;
  margin-bottom: 4%;
  text-decoration: none;
  color: #145BC7;
  font: bold 1rem / 1.5rem 'bernino-regular', Verdana, Arial, Geneva, sans-serif !important;
}

.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo h2 {
  font-size: 24px;
  margin-left: 5%;
}

.listado-container {
  background-color: #f4f5f2;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.listado-container .sidebar {
  margin-left: 5%;
  min-width: 250px;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
}

.listado-container .sidebar .btn-guardar {
  width: 100%;
  background: #ff007f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.listado-container .sidebar h3 {
  margin-top: 15px;
  font-size: 16px;
}

.listado-container .sidebar .filtro-precio,
.listado-container .sidebar .filtro-tamaño {
  display: flex;
  gap: 5px;
}

.listado-container .sidebar .filtro-precio input,
.listado-container .sidebar .filtro-tamaño input {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
}

.listado-container .sidebar .filtro-habitaciones label {
  display: block;
  font-size: 14px;
}

.listado-container .sidebar .filtro-banos label {
  display: block;
  font-size: 14px;
}

.listado-container .sidebar .filtro-caracteristicas label {
  display: block;
  font-size: 14px;
}

.listado-container .sidebar .btn {
  margin-top: 3%;
  padding: 12px 30px;
  background: #e50068;
  color: white;
  border: none;
  border-radius: .125rem;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.listado-container .sidebar .btn:hover {
  background: #b20051;
}

.listado-container .propiedades {
  flex-grow: 1;
}

.listado-container .propiedades .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listado-container .propiedades .titulo .btn-mapa {
  background: #333;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
}

.listado-container .propiedades .ordenar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.listado-container .propiedades .lista-propiedades {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1%;
}
