

.navegacion{
  margin-top: 4%;
  margin-left: 5%;
  margin-bottom:4%;
  text-decoration: none;
  color:#145BC7;
  font: bold 1rem / 1.5rem 'bernino-regular', Verdana, Arial, Geneva, sans-serif !important;
}


.titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2{
    font-size: 24px;
    margin-left: 5%;
  }
}


.listado-container {
  background-color: #f4f5f2;
  display: flex;
  gap: 20px;
  padding: 20px;

  .sidebar {
    margin-left: 5%;
    min-width: 250px;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;

    .btn-guardar {
      width: 100%;
      background: #ff007f;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
    }

    h3 {
      margin-top: 15px;
      font-size: 16px;
    }

    .filtro-precio,
    .filtro-tamaño {
      display: flex;
      gap: 5px;

      input {
        width: 50%;
        padding: 5px;
        border: 1px solid #ccc;
      }
    }

    .filtro-habitaciones {
      label {
        display: block;
        font-size: 14px;
      }
    }

    .filtro-caracteristicas {
      label {
        display: block;
        font-size: 14px;
      }
    }

    .btn {
      margin-top: 3%;
      padding: 12px 30px;
      background: #e50068;
      color:white;
      border: none;
      border-radius: .125rem;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: darken(#e50068, 10%);
      }
    }

  }

  .propiedades {
    flex-grow: 1;

    .titulo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn-mapa {
        background: #333;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
      }
    }

    .ordenar {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 15px 0;
    }

    .lista-propiedades {
      display: grid;
      grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1%;
    }
  }
}
