<app-header></app-header>

<a class="navegacion" routerLink="/inicio">idealista</a>


<div class="titulo">
  <h2>105 casas y pisos en Arenal - Museo - Tetuán, Sevilla</h2>
</div>

<div class="listado-container">
  <!-- Sidebar de filtros -->
  <aside class="sidebar">
    <h3>Tipo de inmueble</h3>
    <select>
      <option value="">Casas</option>
      <option value="">Pisos</option>
      <option value="">Oficinas</option>
      <option value="">Locales</option>
    </select>

    <h3>Precio</h3>
    <div class="filtro-precio">
      <input type="number" placeholder="Mín">
      <input type="number" placeholder="Máx">
    </div>

    <h3>Tamaño</h3>
    <div class="filtro-tamaño">
      <input type="number" placeholder="Mín">
      <input type="number" placeholder="Máx">
    </div>

    <h3>Habitaciones</h3>
    <div class="filtro-habitaciones">
      <label><input type="checkbox" /> 0</label>
      <label><input type="checkbox" /> 1</label>
      <label><input type="checkbox" /> 2</label>
      <label><input type="checkbox" /> 3</label>
      <label><input type="checkbox" /> 4 habitaciones o más</label>
    </div>

    <h3>Baños</h3>
    <div class="filtro-habitaciones">
      <label><input type="checkbox" /> 1</label>
      <label><input type="checkbox" /> 2</label>
      <label><input type="checkbox" /> 3 baños o mas</label>
    </div>

    <h3>Caracteristicas</h3>
    <div class="filtro-caracteristicas">
      <label><input type="checkbox" /> 0</label>
      <label><input type="checkbox" /> 1</label>
      <label><input type="checkbox" /> 2</label>
      <label><input type="checkbox" /> 3</label>
      <label><input type="checkbox" /> 4 habitaciones o más</label>
    </div>

  </aside>

  <!-- Contenedor de las propiedades -->
  <section class="propiedades">

    <div class="ordenar">
      <label>Ordenar:</label>
      <select>
        <option>Relevancia</option>
        <option>Más baratos</option>
        <option>Más recientes</option>
      </select>
    </div>

    <div class="lista-propiedades">
      <app-card-inmueble *ngFor="let inmueble of inmuebles" [datos]="inmueble"></app-card-inmueble>
    </div>
  </section>
</div>



<app-footer></app-footer>
