<app-header-yellow></app-header-yellow>

<a class="navegacion" routerLink="/inicio">idealista</a>

<div class="provincias-container">

  <div class="map-container">
    <h1>Mapa de {{provincia}}: anuncios de {{tipoPropiedad}} en {{tipoPreferencia}}</h1>
    <img src="../../assets/img/sevilla.png" alt="Mapa de Sevilla" />
  </div>

  <div class="provincias-list-container">
    <h2>Localidades de {{ provincia }}</h2>
    <ul>
      <li *ngFor="let localidad of localidades">
        <a routerLink="/propiedades">{{ localidad.nombre }}</a>
      </li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
