<app-header-yellow></app-header-yellow>
<div class="publicar-anuncio">
    <div class="intro-container">
    <section class="intro">
        <div class="info">
            <h1>Cómo poner un anuncio en idealista</h1>
            <ul>
                <li>
                    ✅ <strong>Tus <b>2 primeros anuncios son gratis</b></strong>. Si son de habitaciones, puedes
                    publicar hasta 5 anuncios gratis.
                </li>
                <li>
                    ✅ Tienes acceso a un área privada donde puedes gestionar tu anuncio y los contactos recibidos.
                </li>
                <li>
                    ✅ Puedes resolver dudas, intercambiar información y concertar visitas de manera eficiente con
                    nuestro chat.
                </li>
                <br>
                <li>
                    Para vender o alquilar más rápido, <a href="#">contacta con una agencia inmobiliaria</a>.
                </li>
            </ul>
            <a routerLink="/crear-anuncio" class="btn-primary">Pon tu anuncio gratis</a>
            <p class="profesional-text">
                ¿Eres profesional inmobiliario? Conoce nuestras <a href="#">ventajas para profesionales</a>
            </p>
        </div>
        <div class="image-container">
            <img src="assets\img\advertise_property_landing.png" alt="Publicar Anuncio" />
        </div>
    
    </section>
</div>
    <section class="steps">
        <h2>¿Qué pasos seguir para publicar tu anuncio como propietario particular?</h2>
        <p>Hay 4 puntos clave para vender o alquilar cuanto antes tu inmueble:</p>

        <div class="step">
            <h3>1. Subir las mejores fotos y, si es posible, un plano</h3>
            <ul>
                <li><strong>Asegúrate de tener fotos de calidad a mano</strong>, ya que sin fotos no tendrás resultados.
                </li>
                <li><strong>La foto principal es crucial.</strong> Será la portada de tu anuncio y aparecerá en los
                    listados.</li>
                <li><strong>Ordena tus fotos de forma lógica</strong> para que cuenten una historia atractiva.</li>
                <li><strong>Incluso un plano hecho a mano</strong> ayuda a los interesados a visualizar la distribución.
                </li>
                <li>Consulta nuestros <a href="#">consejos sobre cómo tomar las mejores fotos</a>.</li>
            </ul>
        </div>

        <div class="step">
            <h3>2. Indicar la dirección exacta</h3>
            <p>Para que las personas que buscan en la zona vean tu anuncio, <strong>indica la dirección
                    correcta</strong>. Puedes ocultarla por <b>9,90 €</b> si lo deseas.</p>
        </div>

        <div class="step">
            <h3>3. Poner un precio acorde con el valor de mercado</h3>
            <p>Puedes hacer una <a href="#">valoración de tu inmueble gratis</a> o consultar el precio medio en la zona.
            </p>
        </div>

        <div class="step">
            <h3>4. Indicar las características de tu inmueble y describirlo bien</h3>
            <p>Añade detalles como <strong>habitaciones, m², baños</strong> y extras como terraza, ascensor o garaje.
            </p>
            <p><strong>Destaca los aspectos especiales</strong> y menciona los servicios y transporte cercanos.</p>
        </div>
    </section>

    <section class="benefits">
        <h2>Ventajas de publicar en idealista</h2>

        <div class="benefits-container">

            <div class="benefit">
                <h3> Garantía de visibilidad</h3>
                <p>Millones de usuarios visitan los anuncios en Idealista, lo que aumenta tus oportunidades de venta o
                    alquiler.</p>
            </div>

            <div class="benefit">
                <h3> La mejor experiencia</h3>
                <p>Nuestra app permite gestionar alertas personalizadas y mejorar tu visibilidad.</p>
            </div>

            <div class="benefit">
                <h3> Multitud de productos para tu anuncio</h3>
                <p>Contamos con herramientas avanzadas para mejorar la posición de tu anuncio y atraer más compradores.
                </p>
            </div>
        </div>
    </section>

</div>
<app-footer></app-footer>