<app-header></app-header>

<div class="home-app">

  <article
    class="text-image-component-right text-image-component_image-left text-image-component-mortgages-spot"
    data-position="1" data-collision-id="mortgageModule" data-hide-on-modal>
    <a href="https://youtu.be/Ipd_TmdIYpA" target="_blank">
      <picture class="text-image-component_image">
        <source
          srcset="https://st3.idealista.com/static/common/release/home/resources/img/mortgages/es/es/large-device-tatuaje.jpg?20250117064918"
          media="(min-width: 62rem)">
        <img width="768" height="346"
          src="https://st3.idealista.com/static/common/release/home/resources/img/mortgages/es/es/small-device-tatuaje.jpg?20250117064918"
          loading="lazy" alt="idealista mortgages">
      </picture>
    </a>
    <div role="region" class="text-image-component_texts">
      <h2>Te conseguimos tu hipoteca</h2>
      <p>
        Trabajamos con todos los bancos, resolvemos todas tus dudas y te
        acompañamos en todo el proceso totalmente gratis.
      </p>
      <a
        href="https://www.idealista.com/hipotecas/?aux_tracking=INT-8-[spot_tv_hipotecas]"
        title="Descubrir idealista/hipotecas">
        Descubrir idealista/hipotecas
      </a>
    </div>
  </article>

  <article
    class="text-image-component-left text-image-component_image-right text-image-component-propertyvaluation"
    data-position="2" data-collision-id="propertyValuationModule"
    data-hide-on-modal>
    <div class="text-image-component_image">
      <img width="768" height="346"
        src="https://st3.idealista.com/static/common/release/home/resources/img/propertyvaluation/es/propertyvaluation-small-devices.png?20250117064918"
        loading="lazy" alt="Property Valuation">
    </div>
    <div role="region" class="text-image-component_texts">
      <h2>
        ¿Cuánto vale tu casa?
      </h2>
      <p>
        Una valoración online gratuita en segundos:
      </p>
      <ul class="text-image-component_description">
        <li>con un rango de precio preciso en venta y alquiler</li>
        <li>analizando la evolución del mercado y los datos catastrales</li>
        <li>comparando con inmuebles similares</li>
      </ul>
      <a href="/valoracion-de-inmuebles/" title="Valorar tu casa gratis">
        Valorar tu casa gratis
      </a>
    </div>
  </article>

  <article
    class="text-image-component-right text-image-component_image-left text-image-component-apps"
    data-position="5" data-collision-id="appsModule" data-hide-on-modal>
    <div class="text-image-component_image">
      <img width="768" height="346"
        src="https://st3.idealista.com/static/common/release/home/resources/img/apps/es/apps-small-devices.jpg?20250117064918"
        loading="lazy" alt="idealista APP">
    </div>
    <div role="region" class="text-image-component_texts">
      <h2>
        Lleva idealista siempre contigo
      </h2>
      <p>
        Con nuestra app serás el primero en enterarte de nuevos inmuebles,
        cambios en tus favoritos y mensajes del chat.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=com.idealista.android&amp;hl=es"
        title="Google Play"
        class="icon-android-link"></a>
      <a href="https://itunes.apple.com/es/app/idealista.com/id465958311?mt=8"
        title="App Store"
        class="icon-itunes-link"></a>
    </div>
  </article>

  <article
    class="text-image-component-left text-image-component_image-right text-image-component-rentalia"
    data-position="4" data-collision-id="rentaliaModule" data-hide-on-modal>
    <div class="text-image-component_image">
      <img width="768" height="346"
        src="https://st3.idealista.com/static/common/release/home/resources/img/rentalia/es/rentalia-small-devices-winter.jpg?20250117064918"
        loading="lazy" alt="Rentalia">
    </div>
    <div role="region" class="text-image-component_texts">
      <h2>
        Casas rurales en España, Italia y Portugal para resguardarse del frio
      </h2>
      <p>
        Todos queremos vacaciones y desconectar del día a día, ya sea en la
        playa, montaña o ciudad. ¿Te vas a resistir a una escapada rural?
        Chimenea, barbacoa, jardín, piscina… tú eliges.
      </p>
      <a href="https://es.rentalia.com/" title="Rentalia">
        Ver alquiler vacacional para invierno
      </a>
    </div>
  </article>

</div>

<section class="links-block-home">
  <div class="content">
    <nav aria-label="¿Buscas inmueble?">
      <h3>
        ¿Buscas inmueble?
      </h3>
      <ul>
        <li>
          <span aria-current="page">Buscador principal</span>
        </li>
        <li>
          <a href="/pisos-bancos" title="Pisos de bancos">
            Pisos de bancos
          </a>
        </li>
        <li>
          <a href="/pisos-vpo" title="Vivienda protegida y VPO">
            Vivienda protegida y VPO
          </a>
        </li>
        <li>
          <a href="/properties-for-sale-in-spain"
            title="Viviendas en venta en España">
            Viviendas en venta en España
          </a>
        </li>
        <li>
          <a href="/long-term-rentals-in-spain"
            title="Viviendas en alquiler en España">
            Viviendas en alquiler en España
          </a>
        </li>
        <li>
          <a href="/pisos-en-alquiler" title="Casas y pisos en alquiler">
            Casas y pisos en alquiler
          </a>
        </li>
        <li>
          <a href="/pisos-compartidos" title="Pisos compartidos">
            Pisos compartidos
          </a>
        </li>
        <li>
          <a
            href="/base-datos-inquilinos-morosos/como-saber-si-soy-moroso-para-alquilar-casa"
            title="Solicita tu Certificado de inquilino no moroso">
            Solicita tu Certificado de inquilino no moroso
          </a>
        </li>
        <li>
          <a href="https://www.idealista.com/inversores/"
            title="Oportunidades de inversión">
            Oportunidades de inversión
          </a>
        </li>
        <li>
          <a href="https://es.rentalia.com/"
            title="Rentalia, alquiler vacacional">
            Rentalia, alquiler vacacional
          </a>
        </li>
        <li>
          <a
            href="https://www.idealista.com/sala-de-prensa/informes-precio-vivienda/"
            title="Informe de precios">
            Informe de precios
          </a>
        </li>
        <li>
          <a href="https://www.idealista.com/maps/" title="idealista maps">
            idealista maps
          </a>
        </li>
        <li>
          <a href="/luxury-homes-spain"
            title="Pisos y casas de lujo en venta en España">
            Pisos y casas de lujo en venta en España
          </a>
        </li>
        <li>
          <a href="/luxury-rentals-spain"
            title="Pisos y casas de lujo en alquiler en España">
            Pisos y casas de lujo en alquiler en España
          </a>
        </li>
      </ul>
    </nav>
    <nav aria-label="¿Tienes un inmueble?">
      <h3>
        ¿Tienes un inmueble?
      </h3>
      <ul>
        <li>
          <a href="/info/publicar-anuncio" title="Pon tu anuncio gratis">
            Pon tu anuncio gratis
          </a>
        </li>
        <li>
          <a href="/propietarios/" title="Área del propietario">
            Área del propietario
          </a>
        </li>
        <li>
          <a href="/info/mejorar-foto-video"
            title="Mejorar las fotos de tu anuncio">
            Mejorar las fotos de tu anuncio
          </a>
        </li>
        <li>
          <a href="/certificadoenergetico/"
            title="Solicitar certificado energético">
            Solicitar certificado energético
          </a>
        </li>
        <li>
          <a href="/contratos-de-alquiler/"
            title="Crea gratis tu contrato de alquiler">
            Crea gratis tu contrato de alquiler
          </a>
        </li>
        <li>
          <a href="/base-datos-inquilinos-morosos/consultar-lista-morosos"
            title="Consulta si un inquilino es moroso">
            Consulta si un inquilino es moroso
          </a>
        </li>
        <li>
          <a href="/valoracion-de-inmuebles/"
            title="Valora gratis cualquier inmueble">
            Valora gratis cualquier inmueble
          </a>
        </li>
        <li>
          <a href="/que-inmobiliaria-elegir/"
            title="Buscar agencias para vender tu casa fácilmente">
            Buscar agencias para vender tu casa fácilmente
          </a>
        </li>
        <li>
          <a href="/base-datos-inquilinos-morosos/como-incluir-morosos"
            title="Notificar inquilino moroso">
            Notificar inquilino moroso
          </a>
        </li>
        <li>
          <a href="/como-vender-tu-casa/"
            title="Guía sobre cómo vender tu casa">
            Guía sobre cómo vender tu casa
          </a>
        </li>
        <li>
          <a
            href="https://www.idealista.com/energy/calculadora-de-ahorro-solar/"
            title="Calcular ahorro instalando paneles solares">
            Calcular ahorro instalando paneles solares
          </a>
        </li>
        <li>
          <a href="https://www.idealista.com/seguros/seguro-impago/ "
            title="Garantizar 12 mensualidades con un seguro de impago">
            Garantizar 12 mensualidades con un seguro de impago
          </a>
        </li>
      </ul>
    </nav>
    <nav aria-label="¿Eres profesional inmobiliario?">
      <h3>
        ¿Eres profesional inmobiliario?
      </h3>
      <ul>
        <li>
          <a href="/nuevo-profesional"
            title="Publica tus inmuebles de profesional">
            Publica tus inmuebles de profesional
          </a>
        </li>
        <li>
          <a href="/login" title="¿Ya eres cliente? Entra en tu cuenta">
            ¿Ya eres cliente? Entra en tu cuenta
          </a>
        </li>
        <li>
          <a href="https://www.idealista.com/cursos/"
            title="Cursos inmobiliarios">
            Cursos inmobiliarios
          </a>
        </li>
        <li>
          <a href="/info/publicidad" title="Publicidad en idealista">
            Publicidad en idealista
          </a>
        </li>
        <li>
          <a href="https://www.idealista.com/tools/"
            title="idealista/tools: software de gestión para inmobiliarias">
            idealista/tools: software de gestión para inmobiliarias
          </a>
        </li>
        <li>
          <a href="/tools/software-recomendado-para-inmobiliarias"
            title="Otros software recomendados">
            Otros software recomendados
          </a>
        </li>
        <li>
          <a href="/base-datos-inquilinos-morosos/consultar-lista-morosos"
            title="Registro inquilinos morosos">
            Registro inquilinos morosos
          </a>
        </li>
        <li>
          <a href="https://www.idealista.com/data/"
            title="idealista/data: tecnología para el análisis inmobiliario">
            idealista/data: tecnología para el análisis inmobiliario
          </a>
        </li>
        <li>
          <a href="https://www.avaibook.com"
            title="AvaiBook: software para gestionar tu alquiler vacacional">
            AvaiBook: software para gestionar tu alquiler vacacional
          </a>
        </li>
        <li>
          <a href="https://inmovilla.com/"
            title="Inmovilla: El mejor CRM inmobiliario">
            Inmovilla: El mejor CRM inmobiliario
          </a>
        </li>
        <li>
          <a href="https://www.rentger.com/"
            title="Rentger: Software de gestión del alquiler">
            Rentger: Software de gestión del alquiler
          </a>
        </li>
        <li>
          <a href="https://www.idealista.com/seguros/profesionales/"
            title="idealista/seguros para profesionales">
            idealista/seguros para profesionales
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<app-footer></app-footer>
