<app-header></app-header>

<div class="container-imagen">
  <div class="imagen">
    <img src="../../assets/img/casaInicio.jpg" alt="imagen-inicio" />
  </div>
  <section class="new-search-box">
    <h1 class="new-search-box-title">Estás en casa y me gusta</h1>
    <div class="new-search-box-subtitle">
      <form id="free-search-form" class="free-search-form" name="frmAnuDir" method="POST" action="/buscar/">
        <div id="form-new-radio-button-wrapper" class="form-new-radio-button-wrapper">
          <fieldset class="new-radio-button">
            <input name="operation" id="free-search-operation-sale" type="radio" value="sale" autocomplete="off" />
            <label for="free-search-operation-sale" title="Comprar">
              Comprar
            </label>
            <input name="operation" id="free-search-operation-rent" type="radio" value="rent" autocomplete="off" />
            <label for="free-search-operation-rent" title="Alquilar">
              Alquilar
            </label>
            <input name="operation" id="free-search-operation-share" type="radio" value="share" autocomplete="off" />
            <label for="free-search-operation-share" title="Compartir">
              Compartir
            </label>
          </fieldset>
        </div>
        <div id="form-typology-wrapper" class="form-typology-wrapper">
          <select id="typology" name="typology" class="dropdown-list">
            <option value class="home-select-default-toggle">
              Tipo de inmueble
            </option>
            <option value="newdevelopment">Obra nueva</option>
            <option value="home">Viviendas</option>
            <option value="room">Habitación</option>
            <option value="garage">Garajes</option>
            <option value="storageroom">Trasteros</option>
            <option value="office">Oficinas</option>
            <option value="warehouse">Locales o naves</option>
            <option value="transfer">Traspasos</option>
            <option value="land">Terrenos</option>
            <option value="building">Edificios</option>
            <option class="d-none" value="vacational">Vacacional</option>
          </select>
        </div>
        <div class="form-item-block" layermobileonblurexclusion="on">
          <label for="campoBus" class="screen-reader-only"></label>
          <input id="campoBus" mobileonblur="on" autocomplete="off" type="text" data-validation="pattern required"
            data-pattern=".{2,}" data-do-not-markup-xiti-validation="false" placeholder="Escribe dónde buscas"
            name="freeText" data-message-required="Escribe una ubicación donde buscar"
            data-message-pattern="Escribe una ubicación donde buscar" />
          <div class="container-result-list">
            <div class="result-list search-near"></div>
          </div>
        </div>
        <button routerLink="/provincia" id="btn-free-search" class="btn action">Buscar</button>
      </form>
    </div>
  </section>
</div>


<div class="home-app">

  <article
    class="text-image-component-right text-image-component_image-left text-image-component-mortgages-spot"
    data-position="1" data-collision-id="mortgageModule" data-hide-on-modal>
    <a href="https://youtu.be/Ipd_TmdIYpA" target="_blank">
      <picture class="text-image-component_image">
        <source
          srcset="https://st3.idealista.com/static/common/release/home/resources/img/mortgages/es/es/large-device-tatuaje.jpg?20250117064918"
          media="(min-width: 62rem)">
        <img width="768" height="346"
          src="https://st3.idealista.com/static/common/release/home/resources/img/mortgages/es/es/small-device-tatuaje.jpg?20250117064918"
          loading="lazy" alt="idealista mortgages">
      </picture>
    </a>
    <div role="region" class="text-image-component_texts">
      <h2>Te conseguimos tu hipoteca</h2>
      <p>
        Trabajamos con todos los bancos, resolvemos todas tus dudas y te
        acompañamos en todo el proceso totalmente gratis.
      </p>
      <a
        href="https://www.idealista.com/hipotecas/?aux_tracking=INT-8-[spot_tv_hipotecas]"
        title="Descubrir idealista/hipotecas">
        Descubrir idealista/hipotecas
      </a>
    </div>
  </article>

  <article
    class="text-image-component-left text-image-component_image-right text-image-component-propertyvaluation"
    data-position="2" data-collision-id="propertyValuationModule"
    data-hide-on-modal>
    <div class="text-image-component_image">
      <img width="768" height="346"
        src="https://st3.idealista.com/static/common/release/home/resources/img/propertyvaluation/es/propertyvaluation-small-devices.png?20250117064918"
        loading="lazy" alt="Property Valuation">
    </div>
    <div role="region" class="text-image-component_texts">
      <h2>
        ¿Cuánto vale tu casa?
      </h2>
      <p>
        Una valoración online gratuita en segundos:
      </p>
      <ul class="text-image-component_description">
        <li>con un rango de precio preciso en venta y alquiler</li>
        <li>analizando la evolución del mercado y los datos catastrales</li>
        <li>comparando con inmuebles similares</li>
      </ul>
      <a href="/valoracion-de-inmuebles/" title="Valorar tu casa gratis">
        Valorar tu casa gratis
      </a>
    </div>
  </article>

  <article
    class="text-image-component-right text-image-component_image-left text-image-component-apps"
    data-position="5" data-collision-id="appsModule" data-hide-on-modal>
    <div class="text-image-component_image">
      <img width="768" height="346"
        src="https://st3.idealista.com/static/common/release/home/resources/img/apps/es/apps-small-devices.jpg?20250117064918"
        loading="lazy" alt="idealista APP">
    </div>
    <div role="region" class="text-image-component_texts">
      <h2>
        Lleva idealista siempre contigo
      </h2>
      <p>
        Con nuestra app serás el primero en enterarte de nuevos inmuebles,
        cambios en tus favoritos y mensajes del chat.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=com.idealista.android&amp;hl=es"
        title="Google Play"
        class="icon-android-link"></a>
      <a href="https://itunes.apple.com/es/app/idealista.com/id465958311?mt=8"
        title="App Store"
        class="icon-itunes-link"></a>
    </div>
  </article>

  <article
    class="text-image-component-left text-image-component_image-right text-image-component-rentalia"
    data-position="4" data-collision-id="rentaliaModule" data-hide-on-modal>
    <div class="text-image-component_image">
      <img width="768" height="346"
        src="https://st3.idealista.com/static/common/release/home/resources/img/rentalia/es/rentalia-small-devices-winter.jpg?20250117064918"
        loading="lazy" alt="Rentalia">
    </div>
    <div role="region" class="text-image-component_texts">
      <h2>
        Casas rurales en España, Italia y Portugal para resguardarse del frio
      </h2>
      <p>
        Todos queremos vacaciones y desconectar del día a día, ya sea en la
        playa, montaña o ciudad. ¿Te vas a resistir a una escapada rural?
        Chimenea, barbacoa, jardín, piscina… tú eliges.
      </p>
      <a href="https://es.rentalia.com/" title="Rentalia">
        Ver alquiler vacacional para invierno
      </a>
    </div>
  </article>

</div>

<app-footer></app-footer>
