// Variables
$primary-color: #cfe500;
$secondary-color: #ff007a;
$text-color: #333;
$background-color: #f8f8f8;
$btn-background: #e50068;
$btn-text-color: #fff;

.container-imagen {
  width: 100%;
  position: relative;

  .imagen img {
    margin-left: 10%;
    width: 80%;
    height: auto;
    display: flex;
    z-index: -1;
    flex-wrap: wrap; // Permite que los elementos se acomoden si no caben en una línea
  }

  .new-search-box {
    z-index: 1;
    width:60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(225, 245, 110, 0.96);
    padding:3%;
    border-radius: 3px;
    text-align: center;

    .new-search-box-title {
      font-size: 1.2rem;
      color: $text-color;
      margin-bottom: 20px;
    }

    .new-search-box-subtitle {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;

      form {
        display: flex;
        align-items: center;  // Alinea verticalmente en el centro
        justify-content: center; // Alinea horizontalmente en el centro
        flex-wrap: wrap; // Permite que los elementos se acomoden si no caben en una línea


        .form-new-radio-button-wrapper {

          .new-radio-button{
            display: flex;
            border: none;
          }

          input {
            position: absolute;
            opacity: 0;
          }


          label {
            padding: 10px 10px;
            border: 1px solid #CBCCC7;
            background: white;
            color: #4D4D4C;
            cursor: pointer;
            font-size: 0.9rem;
            transition: background 0.3s, color 0.3s;


            &:hover {
              background: $btn-text-color;
              color: $btn-background;
              border-color: $btn-background;
            }
          }
            input:checked + label {
              background: $btn-text-color;
              color: $btn-background;
              border-color: $btn-background;
            }
        }

        .form-typology-wrapper {

          select {
            padding: 10px 10px;
            font-size: 0.9rem;
            border: 1px solid #CBCCC7;
          }
        }

        mat-form-field {
          padding: 12px 30px;
          width: 50%;
          height:65px;
          max-width: 15vw;
          font-size: 0.9rem; // Color de fondo
          border-radius: 8px;  // Bordes redondeados

          .mat-form-field-wrapper {
            padding-bottom: 0.5rem;

          }

          .mat-form-field-flex {
            background: white;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;

          }

          .mat-form-field-label,
          mat-label {
            color: $text-color;
            font-size: 0.9rem;
          }

          input.mat-input-element {
            color: black;
            padding: 10px;
            font-size: 16px;
          }

        }

        .btn {
          padding: 12px 30px;
          background: $btn-background;
          color: $btn-text-color;
          border: none;
          border-radius: .125rem;
          font-size: 16px;
          cursor: pointer;
          transition: background 0.3s;

          &:hover {
            background: darken($btn-background, 10%);
          }
        }
      }
    }
  }

}


.home-app{
    margin-top: 5%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;

    .text-image-component-right {
      margin-bottom: 2%;
      display: flex;
      justify-content: center;
      background-color: #fff;
      border-radius: 8px;
      padding: 1rem;
      gap: 1rem;

      &.text-image-component_image-left {
        flex-direction: row;
      }

      &.text-image-component_image-right {
        flex-direction: row-reverse;
      }

      .text-image-component_image {
        flex: 1;
        max-width: 768px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .text-image-component_texts {
        flex: 2;
        padding: 0.5rem;
        border: 1px solid #E5E6E1;
        max-width: 400px;

        h2 {
          font-size: 1.3rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          margin-bottom: 0.5rem;
          color: #000000;
        }

        a {
          font-size: 1.2rem;
          color: #145BC7;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
            color: #0056b3;
          }
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;

        .text-image-component_image {
          max-width: 100%;
        }
      }
    }
    .text-image-component-left {
      margin-bottom: 2%;
      display: flex;
      justify-content: center;
      background-color: #fff;
      border-radius: 8px;
      padding: 1rem;
      gap: 1rem;

      &.text-image-component_image-left {
        flex-direction: row;
      }

      &.text-image-component_image-right {
        flex-direction: row-reverse;
      }

      .text-image-component_image {
        flex: 1;
        max-width: 768px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .text-image-component_texts {
        flex: 2;
        padding: 0.5rem;
        border: 1px solid #E5E6E1;
        max-width: 400px;

        h2 {
          font-size: 1.3rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          margin-bottom: 0.5rem;
          color: #000000;
        }

        a {
          font-size: 1.2rem;
          color: #145BC7;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
            color: #0056b3;
          }
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;

        .text-image-component_image {
          max-width: 100%;
        }
      }

  }



}


